@model IEnumerable<Financial.InvestmentTracker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearsInPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentOfSalarySaved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentOfSalarySaved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrackerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
