@model IEnumerable<Financial.InvestmentTracker>

@{
    ViewData["Title"] = "RunModel";
}
<h2>RunModel</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalSaved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSaved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountNumber)
                </td>
                <td>
                    <a asp-action="yearsList" asp-route-id="@item.AccountNumber">List Years</a> |
                    <a asp-action="GraphofYears" asp-route-id="@item.AccountNumber">Graph Years</a> 
                </td>
            </tr>
        }


    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
