@model IEnumerable<Financial.InvestmentTracker>

@{
    ViewData["Title"] = "RunModel";
}

<h2>RunModel</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalSaved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSaved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackingNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrackingNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackingNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
